version: "3.8"

services:
  user-service:
    image: user-service
    container_name: user-service
    env_file:
      - ./user-service/.env  # Point to the .env file in the user-service directory
    networks:
      - kong-net

  auth-service:
    image: auth-service
    container_name: auth-service
    env_file:
      - ./auth-service/.env  # Point to the .env file in the auth-service directory
    networks:
      - kong-net

  payment-service:
    image: payment-service
    container_name: payment-service
    env_file:
      - ./payment-service/.env
    networks:
      - kong-net

  scraping-service:
    image: scraping-service
    container_name: scraping-service
    env_file:
      - ./scraping-service/.env
    networks:
      - kong-net

  data-cleaning-service:
    image: data-cleaning-service
    container_name: data-cleaning-service
    env_file:
      - ./data-cleaning-service/.env
    networks:
      - kong-net

  kong:
    image: kong:3.4
    container_name: kong
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: "/usr/local/kong/declarative/kong.yml"
      KONG_PROXY_ACCESS_LOG: "/dev/stdout"
      KONG_ADMIN_ACCESS_LOG: "/dev/stdout"
      KONG_PROXY_ERROR_LOG: "/dev/stderr"
      KONG_ADMIN_ERROR_LOG: "/dev/stderr"
      KONG_ADMIN_LISTEN: "0.0.0.0:8001"
    ports:
      - "8000:8000"  # Kong's proxy port (accessible from host)
      - "8001:8001"  # Kong's admin API port (accessible from host)
    volumes:
      - ./kong/kong.yml:/usr/local/kong/declarative/kong.yml:ro
    depends_on:
      - auth-service
      - user-service
      - payment-service
      - scraping-service
    networks:
      - kong-net

networks:
  kong-net:
    driver: bridge